In [2]:
import numpy as np
import pandas as pd

In [4]:
data = {
    'Category': ['A', 'B', 'A', 'C', 'B', 'A', 'C', 'B'],
    'Store': ['S1', 'S2', 'S1', 'S3', 'S2', 'S1', 'S3', 'S2'],
    'Sales': [120, 180, 160, 240, 210, 310, 270, 350],
    'Quantity': [12, 18, 15, 22, 20, 25, 30, 28],
    'Date': pd.date_range('2023-02-01', periods=8)
}

df = pd.DataFrame(data)
df

  Category Store  Sales  Quantity       Date
0        A    S1    120        12 2023-02-01
1        B    S2    180        18 2023-02-02
2        A    S1    160        15 2023-02-03
3        C    S3    240        22 2023-02-04
4        B    S2    210        20 2023-02-05
5        A    S1    310        25 2023-02-06
6        C    S3    270        30 2023-02-07
7        B    S2    350        28 2023-02-08

In [6]:
#GROUP BY CATEGORY AND CALCULATE THE SUM OF SALES
cat = df.groupby('Category')
cat
for i, v in cat:
    print(i)
    print(v)

A
  Category Store  Sales  Quantity       Date
0        A    S1    120        12 2023-02-01
2        A    S1    160        15 2023-02-03
5        A    S1    310        25 2023-02-06
B
  Category Store  Sales  Quantity       Date
1        B    S2    180        18 2023-02-02
4        B    S2    210        20 2023-02-05
7        B    S2    350        28 2023-02-08
C
  Category Store  Sales  Quantity       Date
3        C    S3    240        22 2023-02-04
6        C    S3    270        30 2023-02-07

In [7]:
#GROUP BY CATEGORY AND CALCULATE THE SUM OF SALES
cat = df.groupby('Category')['Sales'].sum()
cat

Category
A    590
B    740
C    510
Name: Sales, dtype: int64

In [9]:
#GROUP BY CATEGORY AND CALCULATE THE SUM OF SALES
cat = df.groupby('Store')['Sales'].sum()
cat

Store
S1    590
S2    740
S3    510
Name: Sales, dtype: int64

In [12]:
df

  Category Store  Sales  Quantity       Date
0        A    S1    120        12 2023-02-01
1        B    S2    180        18 2023-02-02
2        A    S1    160        15 2023-02-03
3        C    S3    240        22 2023-02-04
4        B    S2    210        20 2023-02-05
5        A    S1    310        25 2023-02-06
6        C    S3    270        30 2023-02-07
7        B    S2    350        28 2023-02-08

In [13]:
#Aggregation
df['Sales'].mean()

230.0

In [15]:
df['Sales'].mode()

0    120
1    160
2    180
3    210
4    240
5    270
6    310
7    350
Name: Sales, dtype: int64

In [17]:
df['Sales'].median()

225.0

In [20]:
df['Sales'].agg(['mean', 'min', 'max'])

mean    230.0
min     120.0
max     350.0
Name: Sales, dtype: float64