In [3]:
import numpy as np
import pandas as pd

In [14]:
data = {
    'A': [1, 2, np.nan, 4, 5],
    'B': [1, 2, 3, 4, 5],
    'C': [1, 2, 3, np.nan, np.nan],
    'D': [1, np.nan, 3, 4, 5]
}
df = pd.DataFrame(data)
df

     A  B    C    D
0  1.0  1  1.0  1.0
1  2.0  2  2.0  NaN
2  NaN  3  3.0  3.0
3  4.0  4  NaN  4.0
4  5.0  5  NaN  5.0

In [15]:
df.isna()

       A      B      C      D
0  False  False  False  False
1  False  False  False   True
2   True  False  False  False
3  False  False   True  False
4  False  False   True  False

In [16]:
df.isna().sum()

A    1
B    0
C    2
D    1
dtype: int64

In [11]:
df.isna().any() #Every column as null value

A    True
B    True
C    True
D    True
dtype: bool

In [17]:
# Reomve null value
df.dropna()

     A  B    C    D
0  1.0  1  1.0  1.0

In [18]:
df

     A  B    C    D
0  1.0  1  1.0  1.0
1  2.0  2  2.0  NaN
2  NaN  3  3.0  3.0
3  4.0  4  NaN  4.0
4  5.0  5  NaN  5.0

In [ ]:
df.dropna(th)